/** @format */
input {
  width: 10vw;
  font-size: 10px !important;
  padding: 10px !important;
  background-color: #7d9ea6 !important;
  color: white !important;
  border-radius: 5px !important;
}

table {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 50%;
  border-collapse: collapse;
}

th {
  background-color: #7d9ea6;
  color: white;
}

td {
  text-align: center;
  border: 1px solid #7d9ea6;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #7d9ea642;
}

tr {
  background-color: #ffffff;
}
