/** @format */

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

main {
  background-color: #ffffff;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20vh;
}

.main {
  min-height: 70vh;
}
.title {
  margin-top: 2vw;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-family: Kaviron Free;
  font-weight: 400;
  text-transform: uppercase;
}

.title:before,
.title:after {
  background-color: #000000;
  content: "";
  display: inline-block;
  height: 0.2vw;
  position: relative;
  vertical-align: middle;
  width: 10%;
}

.title:before {
  right: 0.5em;
  margin-left: -50%;
}

.title:after {
  left: 0.5em;
  margin-right: -50%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
}

/* Page Index */

.main-index {
  background-color: #ffffff;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.countdown-container > h2 {
  font-family: Gotham;
  font-weight: 500;
  font-size: 1.5vw;
  color: #38383d;
}

.titre-index {
  font-family: "kaviron";
  color: #38383d;
  font-size: 56px;
  text-transform: uppercase;
  text-align: left;
}

.left {
  width: 22vw;
  height: 22vw;
  /*     border: 1px solid #fff;
 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.left > img {
  width: auto;
  height: 100%;
  /*     border: 1px solid #fff;
 */
}

#decouvrir {
  margin-top: 5rem;
  background-color: #7d9ea7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#decouvrir a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#decouvrir:hover {
  background-color: #5f7d8c;
}

.countdown-container {
  display: flex;
  justify-content: center;
  width: 40vw;
  font-size: 28px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #7d9ea6;
  color: #ffffff !important;
  transition: all 0.5s ease-in-out;
}

.countdown-expired {
  background-color: #f44336; /* Couleur en cas d'expiration */
  color: white;
}

form > input[type="email"],
input[type="password"] {
  padding: 0.8vw 2vw 0.8vw 2vw;
  border: 0.1vw solid #c5d2d6;
  border-radius: 30px;
  background-color: transparent;
  color: #ffffff;
}

form > input[type="password"] {
  margin-top: 1vw;
}

::placeholder {
  color: #ffffff;
}

form > input[type="submit"] {
  margin-top: 1vw;
  padding: 0.8vw 4vw 0.8vw 4vw;
  border: 0.1vw solid #c5d2d6;
  border-radius: 30px;
  background-color: #c5d2d6;
  color: #38383d;
  font-size: 20px;
  font-family: Gotham;
  font-weight: 500;
}

form > input[type="submit"]:hover {
  background-color: transparent;
  color: #ffffff;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

h2 {
  margin-top: 2vw !important;
  color: #1c1c1c !important;
  font-size: 20px !important;
  font-family: Gotham !important;
  font-weight: 500 !important;
}

#create-team {
  border: 0.2vw solid #e36b36;
  padding: 0.5vw;
  color: #e36b36;
}

#create-team:hover {
  background-color: #e36b36;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

#test {
  text-decoration: none;
  color: #e36b36;
  font-size: 20px;
  font-family: Gotham;
  font-weight: 500;
  margin: 0.5vw;
}

.center {
  text-align: center;
}

.button-main {
  padding: 18px 125px 18px 125px;
  background-color: #c5d2d6;
  color: #39393e;
  border: 0.2vw solid #c5d2d6;
  border-radius: 36px;
  font-family: Gotham;
  font-weight: 500;
}

.button-main:hover {
  transition: all 0.1s ease-in-out;
  background-color: transparent;
  color: #ffffff;
}

.button-main-variant {
  padding: 18px 125px 18px 125px;
  background-color: transparent;
  color: #c5d2d6;
  border: 0.2vw solid #c5d2d6;
  border-radius: 36px;
  font-family: Gotham;
  font-weight: 500;
}

.button-main-variant:hover {
  transition: all 0.1s ease-in-out;
  background-color: #c5d2d6;
  color: #39393e;
}

.center-div {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
}

.team-card {
  height: 15vw;
  background-color: #7d9ea6;
  width: 50%;
  transform: translateX(50%);
  border: solid 1px;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
}

.card-icon {
  position: absolute;
  left: 0.5vw;
  top: 0.5vw;
  background-color: #c5d2d6;
  padding: 0.5vw;
  border-radius: 36px;
}

.card-text {
  display: flex;
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: center;
  font-family: "Gotham";
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  flex-direction: column;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 1vw 1vw 1vw;
}

.btn-card {
  padding: 1vw;
}

.noprop {
  color: #1c1c1c;
  font-family: "Gotham";
  font-weight: 500;
  font-size: 24px;
}

.card-text ul {
  display: flex;
}

.card-text ul li {
  font-size: 15px;
  font-weight: 400;
  color: #c5d2d6;
  margin-top: 1vw;
  margin: 1vw 1vw 1vw 1vw;
}

.petit {
  padding: 1vw;
}

.red {
  color: #a83232;
  border-color: #a83232;
}

.red:hover {
  color: white;
  background-color: #a83232;
}

.swal2-html-container {
  font-family: "Montserrat", sans-serif !important;
}
/*
.container-partenaire {

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 2vw;
}

.container-partenaire > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
  gap: 2vw;
}

.image-partenaire {
  width: 100%;
  height: 100%;
  border-radius: 36px;
  border : 1px solid #ff0000;
}

.container-partenaire > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 2vw;
    border : 1px solid #ffffff;
    height: 100%;
    padding: 1vw;
    border-radius: 36px;
}



.container-partenaire > div > div > h2 {
  font-family: Gotham;
  font-weight: 500;
  font-size: 1.5vw;
  color: #ffffff;
}

.container-partenaire > div > div > a {
  font-family: Gotham;
  font-weight: 500;
  font-size: 1vw;
  color: #ffffff;
} */

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 100px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 1 / 2 / 2 / 3;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}
.div5 {
  grid-area: 1 / 3 / 2 / 4;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
}

.parent > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.parent > div > a {
  font-family: Gotham;
  font-weight: 500;
  font-size: 1vw;
  color: black;
}

.parent > div > a:hover {
  color: #c5d2d6;
}

.parent > div > h2 {
  font-family: Gotham;
  font-weight: 500;
  font-size: 1.5vw;
  color: black;
}
.oeuvre-item > li {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  margin-bottom: 1vw;
}

.oeuvre-list {
  display: flex;
  flex-direction: column;
}

#token {
  color: #1c1c1c;
  text-align: center;
  font-family: Gotham;
}

.flexbox {
  margin-top: 1vw;
  display: flex;
}

.texte {
  width: 60vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.texte h2 {
  font-family: Gotham;
  font-weight: 500;
  font-size: 1.5vw;
  color: #1c1c1c;
}

.texte a {
  margin-top: 2vw;
  font-family: Gotham;
  font-weight: 500;
  font-size: 1vw;
  color: #1c1c1c;
}

.texte a:hover {
  color: #c5d2d6;
}

.color:hover {
    color: #39393e;
}